/* Wesley Janson
CAPP 30239 Final Project
Corresponding style file
*/

#container {
    max-width: 1000px;
    margin: 0 auto;
}

#overlap {
    display: flex;
    flex-wrap: wrap;
}

#overlap>svg {
    width: 33%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    column-gap: 0px;
    margin: 0px 0px;
}

.flex-container svg {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
}

text {
    font-size: 6px;
    text-transform: uppercase;
}

.y-axis path.domain { 
    display: none; 
}

.pctile { 
    cursor: default; 
}

.pctile path {
    stroke-width: 1.5;
    opacity: 0.75;
}

.highlight path {
    stroke: red;
    opacity: 1;
}

.highlight text { 
    fill: red; 
}
  
#multiline .y-axis line, #multiline .y-axis line {
    stroke: #ccc;
    stroke-dasharray: 1px;
}