svg {
    max-width: 600px;
}

#multiline>svg {
    max-width: 650px;
    max-height: 450px;
}

#overlap {
    display: flex;
    flex-wrap: wrap;
}

#overlap>svg {
    width: 33%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    column-gap: 0px;
    margin: 0px 0px;
}

.flex-container svg {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 20%;
}